body{
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: #434455;
}
img{
    display: block;
}
link{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    width: 1158px;
    margin: 0 auto;
    
}

    
  
/*----------------------------Хедер сайту------------------------------------*/
    .main_header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46,47,66,0.08),0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46,47,66,0.08);
    }
    
    .header_nav{
    display: flex;
align-items: center;
gap: 40px;
    }
    .headers_box{
        display: flex;
        margin: 0 auto;
        padding: 0 15px;
      
    }
    .nav_link_list{
    display: flex;
    align-items: center;
    gap: 40px;
    
    }
    .logo_site{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
    margin-left: 156px;
    gap: 40px;
    display:inline-block;
    margin-bottom: 16px;
    } /*Логотип сайту*/
    .span_studio{
    color: #2e2f42;
    } /*Офрмлення "studio"*/
    .nav_link{
    font-weight: 500;
font-size: 16px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
gap: 40px;
margin-right: 40px;
margin-top: 24px;
align-items: center;
padding: 24px 0;
position: relative;
color: #404BBF;

 will-change: color;
 display: block;

    } 
    .nav_link::after{
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
   
    }
    .nav_link:last-child{
    gap: 0;
    }
    .nav_link:hover{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #404bbf;
    }
    .nav_link:focus{
    font-style: normal;
    color: #404bbf;
    }/*Навігація сайту*/
    .address_contacts_list{
    display: flex;
    gap: 40px;
    }
    .header_adress{
    font-style: normal;

    } 
    .header_contacts{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-top: 24px;
display: flex;
gap: 40px;
transition: color 250ms cubic-bezier(0.4,0,0.2,1);
    }
    .header_contacts:hover{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    }
    .header_contacts:focus{
    color: #404bbf;
    } /*Адресна інформація*/
/*----------------------------Хедер сайту------------------------------------*/
/*----------------------------Перша секція сторінки------------------------------------*/
    .button_first_section{
    background: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
    }
    .button_first_section:hover{

    background: #404bbf;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    }
    .button_first_section:focus{
    background-color: #404BBF;
    }
    /*Оформлення кнопки*/
    .first_section{
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bck.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    }
    .first_section_header{
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
align-items: center;
margin: 0 auto;
    } 
    .first_section_box{
        gap: 472px;
        padding: 188px 0;
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
    .svg{
        width: 64px;
        height: 64px;
    }
     
/*----------------------------Перша секція сторінки------------------------------------*/

/*----------------------------Друга секція сторінки------------------------------------*/
.second_section{
    background: #f4f4fd;
    padding: 120px 0;
} /*Друга секція*/
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  } /*Хедер*/
  .paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
  } /*Параграф*/
  .second_section_box{
    gap: 156px;
  }
  .second_section_list{
    display: flex;
    gap: 24px;
    padding: 0;
  }
  .second_section_element{
    width: calc((100% - 72px) / 4);
  }
  .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
       
  }
  /*----------------------------Друга секція сторінки------------------------------------*/
  /*----------------------------Третя секція сторінки------------------------------------*/
.triple_section{
    background-color: #F4F4FD;
    padding: 120px 0;

} 
.triple_section_list{
    display: flex;
    padding: 0;
}
.triple_section_box{
max-width: 1440px;
min-height: 732px;
}
.header_pages{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
     
}
.header_pages_list{
    background-color: hsl(0, 0%, 100%);
    width: calc(( 100% - 70px) /4 );
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.social_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social_element{
   margin: 0 auto;
    max-width: 40px;
    width: 100%;
    height: 40px;
    display: block;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Перенесено */
}
.svg {
    width: 50%;
    height: 50%;
}
.social_link_svg{
    fill: #F4F4FD;
    width: 50%;
    height: 50%;
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
.profesianal{
    padding-top: 32px;
    padding-bottom: 32px;
}

   /*----------------------------Третя секція сторінки------------------------------------*/
   /*----------------------------Четверта секція сторінки------------------------------------*/
   .thirdh_section {
    background: #fff;
padding: 120px 0;
margin-bottom: 8px;
}
.header_thirdh_hd {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.thirdh_section_box{
margin-left: 156px;
}
.thirdh_section_list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
   padding: 0;
}
.thirdh_pages_list{
    width: calc(( 100% - 48px ) / 3 );
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.thirdh_pages_list:hover{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo_app_list{
    position: relative;
    overflow: hidden;
}
.photo_app_list_p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.photo_app_list:hover .photo_app_list_p {
    transform: translateY(0%);
}

.app_column {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
   
   

  /*----------------------------Четверта секція сторінки------------------------------------*/
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
} 
.footer_paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    min-width: 264px;
    margin: 0 0 16px 0;
    display: block;
    } 

.span_studio_fotter {
     color: #f4f4fd;
    } 
    .container_foot{
        width: 1158px;
        margin: 0 auto;
    display: flex;
    align-items: baseline;
}
.foot_box{
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 112px;
}
    .logo_site_foot{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
        margin-right: 120px;
        gap: 40px;
        display:inline-block;
        margin-bottom: 16px;
        } /*Логотип сайту*/
.foot_p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 120px 0 16px 0;
}
.foot_sm_list{
    display: flex;
    gap: 16px;
    padding-left: 0%;
}
.foot_sm_li{
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot_sm_link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.foot_sm_link:hover,
.foot_sm_link:focus {
  background-color: #31d0aa;
}
 
.foot_sm_svg{
    fill:#f4f4fd !important
}
.form_foot{
    width: 453px;
    height: 80px;
}
.form_foot_p{
    font: 500 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
margin-left: 80px;
}
.form_foot_input{
    border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font: 400 12px / 2 "Roboto", sans-serif;
letter-spacing: 0.04em;
color: #fff;
padding-left: 16px;
}
.form_foot_btn{
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font: 500 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border: none;
border-radius: 4px;
background: #4d5ae5;
cursor: pointer;
}
.form_foot_box{
    display: flex;
    gap: 24px;
}
.form_foot_svg{
    margin-left: 16px;
}
/*----------------------------Modal window------------------------------------*/
.modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.modal_overlay.is-open{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    top: 50%;
        left: 50%;
        position: absolute;
border-radius: 4px;
width: 408px;
height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
max-width: 408px;
max-height: 80%;
overflow-y: auto;
display: flex;
flex-direction: column;
justify-content: center;
padding: 24px;
min-height: 584px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;

}
.modal_close{
    align-self:flex-end;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url(./images/icons.svg#icon-close);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close:hover{
    background-color: #404bbf;
    border: none;
    fill:#ffffff
}
.modal_close:focus{
    background-color: #404bbf;
    border: none;
        fill:#ffffff
}
.user_email{
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    width: 360px;
    height: 40px; 
    background-image: url(./images/icons.svg#icon-email);
    justify-content: center;
}
.user_checkbox{
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    width: 360px;
    height: 40px; 
    background-image: url(./images/icons.svg#icon-checkbox);
    justify-content: center;
}
.user_names{
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}
.modal_head{
    font: 500 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
width: 360px;
height: 24px;
margin-bottom: 16px;

}
.modal_btn{
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
flex-direction: row;
gap: 10px;
font: 500 16px / 1.5 "Roboto", sans-serif;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
margin:0 auto;
cursor: pointer;
}
.modal_svg:hover{
    fill: #ffffff;
}
.modal_svg:focus{
    fill: #ffffff;
}
.modal_svg{
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal_form_box{
    margin-bottom: 8px;
}
.user_name-inpt{
    position: relative;
}
.user_name_svg{
 position: absolute;
 left: 16px;
 top: 50%;
 transform: translateY(-50%);
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user_name_svg:focus{
    fill: #4d5ae5;
}
.input_user_name:focus + .user_name_svg{
    fill: #4d5ae5;
}
.input_user_name{
    width: 100%;
    border: 1px solid #4d5ae5;
border-radius: 4px;
max-width: 360px;
height: 40px;
border:1px solid rgba(46,47,66,0.4);
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input_user_name:focus{
    border-color: #4d5ae5;
}
.modal_textarea{
    margin-bottom: 16px;
}
.textarea_mod{
    width: 100%;
    height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
border: 1px solid rgba(46,47,66,0.4);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea_mod:focus{
    border-color: #4d5ae5;
}
.checkbox_box{
    margin-bottom: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}
.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-color, #8e8f99);
}
.input-field{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99
}
.input-field:focus {
    border-color: #4D5AE5;
}
.s_privacy{
    width: 16px;
    height: 16px;  
    border: 1px solid rgba(46,47,66,0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.checkbox_box input[type="checkbox"]:checked + .s_privacy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.privacy_l{
    color: #4d5ae5;
}
.modal_btn_f{
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.modal_btn_f:hover,.modal_btn_f:focus{
    background-color: #404bbf;
}
.privacy_s{
    color: #4d5ae5;
}